@import "http://fonts.googleapis.com/css?family=Raleway";
/*----------------------------------------------
CSS settings for HTML div Exact Center
------------------------------------------------*/
#abc {
width:100%;
height:100%;
opacity: 0.95;
top:0;
left:0;
display:none; 
position:fixed;
background-color: #8B8682;

overflow:auto
}
img#close {
position:absolute;
right:-14px;
top:-14px;
cursor:pointer
}
div#popupContact {
position:absolute;
left:45%;
top:10%;
margin-left:-202px;
font-family:'Raleway',sans-serif
}